@charset "UTF-8";

   div.titles  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 5px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.titles1  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 27px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   } 
   
      div.marka  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 65px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.markaINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 65px; /* Положение от нижнего края */
    left: 190px; /* Положение от правого края */
    line-height: 20px;
   } 

    div.model { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 90px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.modelINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 90px; /* Положение от нижнего края */
    left: 190px; /* Положение от правого края */
    line-height: 20px;
   } 

       div.year { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 125px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.yearINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 125px; /* Положение от нижнего края */
    left: 190px; /* Положение от правого края */
    line-height: 20px;
   }


       div.modific { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 160px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.modificINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 160px; /* Положение от нижнего края */
    left: 190px; /* Положение от правого края */
    line-height: 20px;
   }

    div.mileage { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 195px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.mileageINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 195px; /* Положение от нижнего края */
    left: 219px; /* Положение от правого края */
    line-height: 20px;
   }


       div.level { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 230px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
          div.level1 { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 260px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

      div.levelINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 260px; /* Положение от нижнего края */
    left: 190px; /* Положение от правого края */
    line-height: 20px;
   }

    div.field { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 295px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
    div.field1  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 325px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.fieldINP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 325px; /* Положение от нижнего края */
    left: 190px; /* Положение от правого края */
    line-height: 20px;
   }

     div.sendMesBut {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 360px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   }





      div.questTO1  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 65px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO1_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 90px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
         div.questTO11INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 70px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO1_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 90px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
      div.questTO12INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 90px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

    div.questTO2  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 125px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO2_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 160px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
         div.questTO21INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 140px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO2_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 160px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
      div.questTO22INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 160px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

       div.questTO3  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 195px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO3_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 230px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
         div.questTO31INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 210px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO3_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 230px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
      div.questTO32INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 230px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

          div.questTO4  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 265px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO4_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 300px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
         div.questTO41INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 280px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO4_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 300px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
      div.questTO42INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 300px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO5  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 335px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO5_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 370px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO51INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 350px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO5_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 370px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
      div.questTO52INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 370px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

    div.questTO6  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 405px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO6_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 440px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO61INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 420px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO6_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 440px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO62INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 440px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

 div.questTO7  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 475px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO7_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 510px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO71INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 490px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO7_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 510px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO72INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 510px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

    div.questTO8  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 545px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO8_1 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 580px; /* Положение от нижнего края */
    left: 550px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO81INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 560px; /* Положение от нижнего края */
    left: 650px; /* Положение от правого края */
    line-height: 20px;
   }

     div.questTO8_2 {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 580px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
    line-height: 20px;
   }
     div.questTO82INP  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 580px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }
     div.sendQuestBut  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 610px; /* Положение от нижнего края */
    left: 920px; /* Положение от правого края */
    line-height: 20px;
   }

    div.answer  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 640px; /* Положение от нижнего края */
    left: 250px; /* Положение от правого края */
    right: 250px;
    line-height: 20px;
   }
   
       div.saveBut {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 210 px; /* Положение от нижнего края */
    left: 280px; /* Положение от правого края */
    line-height: 20px;
   }