@charset "UTF-8";

   div.titles  { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 5px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
   
   div.dateBeg { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.dateBegINP { /*календарь, дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 30px; /* Положение от нижнего края */
    left: 140px; /* Положение от правого края */
    line-height: 20px;

   }
    div.dateFin { /*дата окончания*/
    position: absolute; /* Абсолютное позиционирование */
    top: 80px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }
      div.dateFinINP { /*календарь, дата окончания */
    position: absolute; /* Абсолютное позиционирование */
    top: 80px; /* Положение от нижнего края */
    left: 140px; /* Положение от правого края */
    line-height: 20px;

   }
     div.username { /*надпись фамилия */
    position: absolute; /* Абсолютное позиционирование */
    top: 120px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }

   
       div.usernameINP {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 100px;
    top: 30px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 200px;
     }
         div.status { /*надпись статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 150px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }

         
    	div.statusINP { /*поле ввода статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 147px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.depart { /*надпись статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 180px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }

         div.departINP { /*поле ввода статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 177px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.but { /*кнопка поиска*/
    position: absolute; /* Абсолютное позиционирование */
    top: 210px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   }
   div.table {/*таблица ответа базы*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 470px; /* Положение от правого края */
    line-height: 20px;
   }
      div.confirm {/*таблица ответа базы*/
    position: absolute; /* Абсолютное позиционирование */
    top: 420px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
   
   /*быстрый запрос*/
   
    div.fastRequest {/*надпись выбор запроса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 250px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
       div.fastRequestINP {/*строка выбора запроса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 247px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.requeBut {/*кнопка отправки запроса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 280px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   } 
   
       
   
   
/*оставить сообщение*/   
     div.message {/*имя поля*/
    position: absolute; /* Абсолютное позиционирование */
    top: 320px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
       div.surnMes {/*строка фамилия*/
    position: absolute; /* Абсолютное позиционирование */
    top: 360px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.surnMesINP {/*поле ввода фамилии*/
    position: absolute; /* Абсолютное позиционирование */
    top: 356px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   } 
   
     div.typeMes {/*строка контекста сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 390px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.typeMesINP {/*поле выбора сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 386px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
     div.typeCom {/*строка выбора способа оповещения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 420px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.typeComINP {/*поле выбора способа оповещения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 418px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
     div.sendMesBut {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 450px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   }
   
    div.superselect {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 100px;
    top: 430px; /* Положение от нижнего края */
    left: 250px; /* Положение от правого края */
    line-height: 200px;
    }
    
    div.birthday {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
   display: flex;
   flex-flow: column wrap;
    width: 445px;
    top: 490px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
    }
    
        div.birtdayTitle {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 20px;
    }
    
    div.birtdayTable {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 35px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 20px;
    }
    
    div.saveBut {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 310 px; /* Положение от нижнего края */
    left: 380px; /* Положение от правого края */
    line-height: 20px;
   }
   
   
   /*Просмотр отработанного времени*/
   
   div.workHour { /*заголовок*/
    position: absolute; /* Абсолютное позиционирование */
    top: 500px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
           
   
    div.typeComWorkHour { /*надпись периода времени */
    position: absolute; /* Абсолютное позиционирование */
    top: 530px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }

   
       div.typeComINPWorkHour {/*поле ввода периода времени*/
    position: absolute; /* Абсолютное позиционирование */
    width: 100px;
    top: 447px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 200px;
     }
         div.departWorkHour { /*надпись отдел*/
    position: absolute; /* Абсолютное позиционирование */
    top: 560px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }

         
    	div.departINPWorkHour { /*поле ввода отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 560px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
   
            div.monthWorkHour { /*надпись отдел*/
    position: absolute; /* Абсолютное позиционирование */
    top: 590px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
 
    	div.monthINPWorkHour { /*поле ввода отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 590px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.butWorkHour { /*кнопка отправления запроса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 620px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   }


